@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Hind Madurai", sans-serif, "Roboto";
}
